.containerNavbar{
    width: 100%;
    height: 10vh;
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}