.containerNavbar{
    width: 100%;
    height: 10vh;
    background-color: steelblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerList{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.navbarItem{
    list-style: none;
    cursor: pointer;
    font-size: 1.2rem;
    /* box-shadow: 2px 2px 2px 2px grey; */
    padding: 7px 10px;
    border-radius: 10px;
    background-color: #e1d4c7;
    text-align: center;
}